<!DOCTYPE html><html><head>
    <meta charset="utf-8"/><title>BookClub</title>
    <link rel="stylesheet" href="https://unpkg.com/awsm.css/dist/awsm.min.css">
</head><body>
<nav>
    <a href="/">Главная</a> |
    <a href="/my">Мои книги</a> |
    <a href="/login">Войти</a> |
    <a href="/register">Регистрация</a>
</nav>
<main><%- body %></main>
</body></html>
